In [1]:
import pandas as pd
import orchest

In [2]:
df = pd.read_csv('amazon_review.txt',sep='\t')

In [3]:
df

,date,variation,verified_reviews,feedback
0,2017-01-13T00:00:00.000Z,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",This product so far has not disappointed. My c...,1
1,2017-01-13T00:00:00.000Z,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",great for beginner or experienced person. Boug...,1
2,2017-01-13T00:00:00.000Z,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Inexpensive tablet for him to use and learn on...,1
3,2017-01-13T00:00:00.000Z,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",I've had my Fire HD 8 two weeks now and I love...,1
4,2017-01-12T00:00:00.000Z,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",I bought this for my grand daughter when she c...,1
...,...,...,...,...
3456,2016-12-23T00:00:00.000Z,"Amazon Fire Hd 10 Tablet, Wi-Fi, 16 Gb, Specia...",I purchased this as a gift after using this at...,1
3457,2016-12-22T00:00:00.000Z,"Amazon Fire Hd 10 Tablet, Wi-Fi, 16 Gb, Specia...",Love my new Echo. Ask it questions...get the a...,1
3458,2016-12-21T00:00:00.000Z,"Amazon Fire Hd 10 Tablet, Wi-Fi, 16 Gb, Specia...",This is a good buy with the recent drop in pri...,1
3459,2016-12-20T00:00:00.000Z,"Amazon Fire Hd 10 Tablet, Wi-Fi, 16 Gb, Specia...",Love it! Alexa is Amazing! It is user friendly...,1
3460,2016-12-20T00:00:00.000Z,"Amazon Fire Hd 10 Tablet, Wi-Fi, 16 Gb, Specia...",My wife wanted this for her birthday. She love...,1

In [4]:
orchest.output(df, name="input_dataframe")

In [5]:
df['verified_reviews']

0       This product so far has not disappointed. My c...
1       great for beginner or experienced person. Boug...
2       Inexpensive tablet for him to use and learn on...
3       I've had my Fire HD 8 two weeks now and I love...
4       I bought this for my grand daughter when she c...
                              ...
3456    I purchased this as a gift after using this at...
3457    Love my new Echo. Ask it questions...get the a...
3458    This is a good buy with the recent drop in pri...
3459    Love it! Alexa is Amazing! It is user friendly...
3460    My wife wanted this for her birthday. She love...
Name: verified_reviews, Length: 3461, dtype: object